<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wtrade>
            <general>
                <enable>1</enable>
                <frontend_url>ayastrwtrade</frontend_url>
            </general>
        </wtrade>
    </default>
</config>
